body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #008B66; */
    background-color: #1377A2;
}

.CurrentTripIndicator {
    background-color: #D96727 !important;
    height: 33.75px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    padding: 0px;
}

.CurrentViewIndicator {
    background-color: #F4C344 !important;
    height: 21px;
    margin-top: 00px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    padding: 0px;
}

.drawer {
    background-color: #413522 !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    color: #F4C344 !important; 
    padding-left: 5px;
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;

}

.drawer-create-trip {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: start;
}

.Header {
    background-color: #413522 !important;
    text-align: center;
    color:  #F4C344 ;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

.List {
    width: 300;
    background-color: #413522;
}

.provider-chip-other {
    background-color: #158D66 !important;
    color:  #F4C344 !important;   
}

.provider-chip-user {
    background-color: #0078A5 !important;
    color:  #F4C344 !important;
}

.subheading {
    color: #413522 !important;
    font-weight: bold !important;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase !important;
    line-height:1.00 !important;
}

.table {
    background-color: #DFEFCF !important;
}

.tripOverviewRowLabel{
    align-self: center;
    grid-column: 1 / 2;
    justify-self: stretch;
    padding: 0px;
}

.tripOverviewRowLabel p {
    font-size: 12px;
    color:  #413522;
    font-weight: bold;
    line-height: 1.0;
    padding: 0px;
}

.tripOverview-p {
    font-size: 12px;
    color:  #413522;
    line-height: 1.0;
    padding: 0px;
}

.tripOverviewRow-StaticDetails {
    align-content: center;
    display: grid;
    grid-column: 2 / 3 ;
    justify-self: stretch;
    font-size: 12px;
    color:  #413522;
    line-height: 1.0;
    padding: 0px;
}

.tripOverviewRow-ListDetails {
    align-content: center;
    display: grid;
    grid-auto-flow: column;
    grid-column: 2 / 3 ;
    grid-template-columns: 1fr 5fr 1fr 5fr;
    justify-self: stretch;
}

.tripOverviewRowContentGearListButton{
    grid-column: 1/2;
    align-self: center;
}

.tripOverviewRowContentGearListQuantity {
    grid-column: 2/3;
    align-self: center;
}

.tripOverviewRowContentCampersButton {
    grid-column: 1/2;
    align-self: center;
}

.tripOverviewRowContentCampersQuantity {
    grid-column: 2/3;
    align-self: center;
}

.tripOverviewRowContentInviteOthersButton {
    grid-column: 3/4;
    align-self: center;
}

.tripOverviewRowContentInviteOthersText {
    grid-column: 4/5;
    align-self: center;
}

.tripOverviewTableRow {
    color:  #413522 !important;
    display: grid;
    fill:  #413522 !important;
    grid-template-columns: 1fr 3fr;
    grid-auto-flow: column;
    padding: 0px 0px 0px 4px;
}

/* START TRIP CAMPER LIST VIEW STYLING */

.tripCamperListTableContentRow {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    color:  #413522;
    font-size: 12;
    padding-left: 4px;
}

.tripCamperListTableContentRowUsername {
    align-self: center;
    justify-self: left;
    grid-column: 1 / 2;
}

.tripCamperListTableContentRowHasAccepted {
    align-self: center;
    justify-self: left;
    grid-column: 2 / 3;
    padding-left: 4px;
}

.tripCamperListTableContentRowDelete {
    justify-self: right;
    align-self: center;
    grid-column: 3 / 4;
}

.tripCamperListTableHeaderRow {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    color:  #413522;
    font-weight: bold;
    font-size: 12;
    padding-left: 4px;
}

.tripCamperListTableHeaderRowUsername {
    grid-column: 1 / 2;
    justify-self: left;
}

.tripCamperListTableHeaderRowAcceptedInvitation {
    grid-column: 2 / 3;
    justify-self: left;
}

/* END TRIP CAMPER LIST VIEW STYLING */

/* START TRIP GEAR LIST VIEW STYLING */

.tripGearListTableContentRow {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr;
    justify-self: stretch;
    color:  #413522;
    font-size: 12;
    padding-left: 4px;
}

.tripGearListTableContentRowItem {
    align-self: center;
    justify-self: left;
    grid-column: 1 / 2;
}

.tripGearListTableContentRowQuantity {
    align-self: center;
    justify-self: left;
    grid-column: 2 / 3;
    padding-left: 4px;
}

.tripGearListTableContentRowProvider {
    align-self: center;
    justify-self: left;
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.tripGearListTableContentRowDelete {
    justify-self: right;
    align-self: center;
    grid-column: 4 / 5;
}

.tripGearListTableHeaderRow {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr;
    color:  #413522;
    font-weight: bold;
    font-size: 12;
    padding-left: 4px;
}

.tripGearListTableHeaderRowItem {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: left;
}

.tripGearListTableHeaderRowQuantity {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: left;
}

.tripGearListTableHeaderRowProvider {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: left;
}

.buttonProvide {
    align-self: center;
    justify-self: left;
}

.buttonSort{
    align-self: center;
    justify-self: left;
}

/* END TRIP GEAR LIST VIEW STYLING */

.tripTable-row {
    color:  #413522 !important;
    display: grid;
    fill:  #413522 !important;
    grid-template-columns: 5fr 2fr 1fr;
    grid-auto-flow: column;
    padding-left: 4px;
}

.tripTable-row-tripName {
    grid-column: 1/2;
    justify-self: start;
    align-self: center;
    font-size: 12px;
    color:  #413522;
    font-weight: bold;
    line-height: 1.0;
}

.tripTable-row-tripActions {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}

.tripTable-row-delete {
    grid-column: 3/4;
    align-self: center;
    justify-self: end;
}


.typography-header {
    text-transform: capitalize !important;
    font-weight: bold !important;
    color: #413522 !important; 
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}